.Sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: fixed;
  z-index: 100;
  top: 0px;
  height: 100vh;
  padding: 0;
  overflow-y: scroll;
  padding-bottom: 2rem;
  background: var(--dark-blue);
  border-right: solid 1px white;
}
.Sidebar.closed {
  width: 60px;
}
.Sidebar.open {
  width: 575px;
}
.Sidebar .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.Sidebar .toggle-button {
  margin-top: 20px;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* .Sidebar .toggle-button i {
  color: white;
  cursor: pointer;
} */
.Sidebar .toggle-button.open {
  transform: rotateY(180deg);
}

.Sidebar i {
  margin-right: 10px;
  cursor: pointer;
  color: white;
}
