.ProductDetail {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.ProductDetail .product-card {
  min-height: 350px;
  max-width: 600px;
  background: var(--pure-white);
  display: flex;
  flex-direction: column;
  border: solid 1px var(--border-color);
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ProductDetail .media {
  width: 100%;
  max-height: 400px;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.ProductDetail .media img {
  width: 100%;
  object-fit: contain;
}

.ProductDetail .product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-top: solid 1px var(--border-color);
}

.ProductDetail .product-info .product-name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.ProductDetail .product-info .product-price {
  font-size: 16px;
  margin-bottom: 10px;
}

.ProductDetail .product-info .description {
  font-size: 14px;
  margin-bottom: 15px;
}

.ProductDetail .actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.ProductDetail .actions button {
  background-color: var(--bright-green);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  width: 140px;
}



.ProductDetail .quantity {
  font-size: 14px;
}
