.CheckoutSuccess {
  width: 100%;
  padding: 1rem;
}

.CheckoutSuccess > h3 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CheckoutSuccess > h3 > span {
  margin-left: 10px;
}
.CheckoutSuccess p {
  color: white;
}
.CheckoutSuccess .card {
  color: white;
  display: flex;
  flex-direction: column;
}
.CheckoutSuccess .card .card-title {
  color: white;
  font-weight: 20px;
  margin-bottom: 5px;
}
.CheckoutSuccess .purchase .header {
  color: white;
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
}
.CheckoutSuccess .purchase {
  padding-left: 20px;
}
.CheckoutSuccess .purchase li {
  color: white;
}
.CheckoutSuccess button {
  margin: 10px;
  padding: 12px 18px;
  font-size: 18px;
  cursor: pointer;
  background: transparent;
  border: solid 1px white;
  color: white;
}
